@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
       font-family: 'Source Sans Pro', sans-serif;
}

$primary-color: green;


$panel-margin: 20px;
$container-margin: 8px;
$root-background: #f3f3f3;

$shell-navigation-width: 240px;
$shell-sidebar-background: white;
$shell-sidebar-border: 1px solid #ccc;

$footer-min-height: 30px;
