.alert {
       .panel-container {
              padding: 12px;
       }

       .panel-layer {
              display: flex;
       }

       .icon {
              display: flex;
              align-items: center;
       }

       .close-btn {
              cursor: pointer;
       }

       &.default .panel-container {
              background: $infopanel-defaultBackground;
              border: $infopanel-defaultBorder;
       }

       &.info .panel-container {
              background: $infopanel-infoBackground;
              border: $infopanel-infoBorder;
       }

       &.warn .panel-container {
              background: $infopanel-warnBackground;
              border: $infopanel-warnBorder;
       }

       &.error .panel-container {
              background: $infopanel-errorBackground;
              border: $infopanel-errorBorder;
       }


       .panel-content {
              padding: 0 10px;
              flex: 1;
       }
}