.datatable {       
       border: $datatable-border;
       background: $datatable-background;
       width: 100%;
       overflow: auto;

       &.raised {
              border: none;
              box-shadow: $snap-boxshadow;
       }
}

table.simple {
       width: 100%;
       border-collapse: collapse;

       th,
       td {
              text-align: left;
              padding: 15px;
              border-right:  $datatable-border;
              border-bottom:  $datatable-border;
       }

       th:last-child,
       td:last-child {
              border-right: none;              
       }

       td {
              padding: 6px 15px;
       }

       tr:last-child {
              td {
                     border-bottom: none;
              }
       }

       tbody > tr:hover {
              background: $datatable-rowHoverBackground !important;
       }

       .btn-container {
              button {
                     margin: 2px;
                     border: 1px solid #aaa;
              }
       }

       tr {
              background: $datatable-rowBackground;
       }

       &.stripe {
              tr:nth-child(even) {
                     background: $datatable-rowStripeBackground;
              }
       }
}