.info-panel {
       .panel-container {
              padding: 12px;
       }

       .panel-layer {
              display: flex;
       }

       .icon {
              display: flex;
              align-items: center;
       }

       .close-btn {
              cursor: pointer;
       }

       &.default .panel-container {
              background: white;
              border: 1px solid #666;
       }

       &.info .panel-container {
              background: rgba(169, 217, 255, 0.3);
              border: 1px solid #3d51b5;
       }

       &.warn .panel-container {
              background: rgba(244, 207, 152, 0.3);
              border: 1px solid #ff9800;
       }

       &.error .panel-container {
              background: rgba(255, 190, 186, 0.3);
              border: 1px solid #e91e63;
       }


       .panel-content {
              padding: 0 10px;
              flex: 1;
       }
}