.snap {
       width: 100%;
       box-shadow: $snap-boxshadow;

       .snap {
              box-shadow: none;
              border: 1px solid #ccc;
       }

       .header {
              background: $snap-headerBackground;
              border-bottom: 1px solid #ccc;
       }

       .snap-default-header {
              display: flex;
              flex: 1;
              flex-wrap: wrap;
              padding: $snap-headerPadding;

              .title-content {
                     display: flex;
                     flex-wrap: wrap;
                     flex: 1;
                     align-items: center;
              }
       }

       .title {
              display: flex;
              align-items: center;
              flex: 1;
       }


       .collapse {
              display: flex;
              align-items: flex-start;
              padding-top: 12px;
              width: 22px;
       }

       .header-title {
              margin: 3px 0;
              font-weight: $snap-headerFontweight;
              flex: 1;
              font-size: $snap-headerFontsize;
              color: $snap-headerColor;
              letter-spacing: $snap-headerLetterspacing;

       }

       .action-area {
              margin: 3px 0;
       }


       .content {
              padding: 20px;
              background-color: $snap-contentBackground;
       }

}