.tabpanel {
       .header {
              padding: 0;
       }

       .tab-set {
              display: flex;
              flex-direction: row;
              overflow: auto;
       }

       .tab-container {
              padding: 10px 20px;
              border-right: 1px solid #ccc;
              user-select: none;
              position: relative;
              cursor: pointer;

              &.is-active {
                     
                     &:after {
                            content: '';
                            display: block;
                            right: 5px;
                            margin: auto;
                            height: 2px;
                            background: $tabpanel-tabMarkerColor;
                            position: absolute;
                            left: 3px;
                            bottom: 0px;
                     }
              }
       }
}