.box {
       box-shadow: $box-boxshadow;

       &.has-padding {
              padding: $box-padding;
       }

       .box {
              box-shadow: none;
              border: 1px solid #ccc;
       }
}