$btnFontSize: 14px;

.btn {
       padding: 7px 20px;
       font-size: 14px;
       font-weight: bold;
       border: 1px solid #252c37;
       border-radius: 2px;
       cursor: pointer;
       box-sizing: border-box;
       transition: background 0.1s ease-in;

       &.btn-default {
              background-color: #fff;
              color: #32393c;

              &:active {
                     background-color: #f1f1f1;
                     color: black;
              }

              &:hover {
                     color: #2f2f2f;
              }
       }

       &.btn-primary {
              background-color: $primary-color;
       }
}