$btnFontSize: 14px;

@mixin btn($colorList) {

       background: nth($colorList, 1);
       color: nth($colorList, 2);
       border: 1px solid nth($colorList, 3);

       &:active {
              background: darken(nth($colorList, 1), 10%);
       }
}

@mixin create-btn($btnClass, $colorList) {

       &.#{$btnClass} {
              @include btn($colorList);
       }
}

.btn {
       user-select: none;
       outline: none;
       padding: $btn-padding;
       font-size: $btn-fontsize;
       font-weight: bold;
       border-radius: 2px;
       cursor: pointer;
       box-sizing: border-box;
       will-change: background;
       transition: background 0.1s ease-in;
       @include no_tap_highlight();
       @include btn($btn-normal);

       @for $i from 1 through length($btns) {
              $btn: nth($btns, $i);
              @include create-btn(nth($btn, 1), nth($btn, 2));
       }

       &.disabled {
              border: 1px solid #c4c4c4 !important;
              color: gray !important;
              background: white;
              cursor: default;

              &:active {
                     background-color: inherit !important;
                     color: gray !important;
              }
       }
}