.checkbox {

       $switchRadius:nth($switch-size, 2) - 6px;

       user-select: none;
       cursor: pointer;

       &.disabled {

              cursor: default;

              .chk {
                     background: white;
                     cursor: default;
                     border: 1px solid $chk-bordercolor;
              }

              .label {
                     color: $chk-labelColor;
              }
       }

       input[type=checkbox] {
              display: none;
       }

       .checkbox-container {
              padding: 2px 5px;
              display: flex;
              align-items: center;

              &>div {
                     display: flex;
                     align-items: center;
              }
       }

       .chk {
              height: nth($chk-size,2);
              width: nth($chk-size, 1);
              border-radius: 3px;
              border: 1px solid $chk-bordercolor;
              background: $chk-background;
              position: relative;
              flex-shrink: 0;

              .tick {}
       }

       .switch {
              height: nth($switch-size, 2);
              background: $switch-background;
              width: nth($switch-size, 1);
              border: $switch-border;
              border-radius: 12px;
              position: relative;
              flex-shrink: 0;

              .knob {
                     height: $switchRadius;
                     width: $switchRadius;
                     background: $switch-knobBackground;
                     border-radius: (nth($switch-size, 2) - 6)*0.5;
                     position: absolute;
                     top: 3px;
                     left: 3px;
                     box-shadow: 0 0 3px 1px $switch-knowBoxShadowColor;
                     transition: left 0.1s ease-in;
              }
       }

       .label {
              padding-left: $chk-labelLeftPadding;
       }

       &.checked {

              &.disabled {

                     .chk {
                            background: gray;
                     }
              }

              .chk {
                     background: $chk-checkedBackground;
              }

              .switch {
                     background: $switch-checkedBackground;

                     .knob {
                            left: nth($switch-size, 1) - 3 - $switchRadius;
                     }
              }

       }




}