.dropdown {

       &.opened .label-icon>svg {
              transform: rotate(180deg);
       }

       &.disabled {
              .dropdown-display-label {
                     border: 1px solid #c4c4c4;
                     color: gray;
                     background: #f2f2f2;
              }
       }

       .dropdown-container {
              cursor: pointer;
              position: relative;
       }

       .dropdown-display-label {
              padding: 7px 7px 7px 12px;
              border: $dropdown-border;
              box-sizing: border-box;
              background: $dropdown-background;
              display: flex;

              .label-text {
                     flex: 1;
              }

              .label-icon {
                     width: 20px;
                     height: 20px;
                     display: flex;
                     align-items: center;
              }

              &:active {
                     background: #f2f2f2;
              }
       }


       .dropdown-popup-container {
              border: 1px solid #d7d7d7;
              border-top: none;
       }

       .dropdown-popup {
              position: absolute;
              width: 100%;
              z-index: 100;
       }

       ul.dropdown-items {
              list-style: none;
              padding: 0;
              margin: 0;
              max-height: 179px;
              overflow: auto;
              user-select: none;
       }

       ul.dropdown-items>li {
              background: white;
       }

       .dropdown-items li:last-child .dropdown-item-content {
              border-bottom: none;
       }

       .dropdown-item-content {
              padding: 7px 10px;
              border-bottom: 1px solid #ececec;
              box-sizing: border-box;
       }

       .dropdown-item-content:hover {
              background: #eaeaea;
       }

       .search-container {
              border-bottom: 1px solid #ececec;
              border-top: none;
              display: flex;
              background: white;

              & .textbox {
                     flex: 1;
              }
       }

       .search-icon {
              display: flex;
              align-items: center;
              padding: 5px 0 5px 10px;
       }
}

.dropdown-hidden-select {
       display: none;
}