.option {
       @include no_tap_highlight();
       cursor: pointer;
       user-select: none;

       &.disabled {
              cursor: default;

              .option-label {
                     color: gray;
              }
       }

       .button-container {
              padding: 5px;
       }

       .option-container,
       .option-container>div {
              display: flex;
              align-items: center;
       }

       .option-label {
              padding-left: 7px;
              position: relative;
              top: -1px;
       }

       .option-button {
              display: flex;
              align-items: center;
       }

       .option-dot {
              fill: #fff;
       }

       .option-circle {
              stroke: $option-bordercolor;
       }

       &.checked {

              .option-dot {
                     fill: $option-dotColor;
              }

              &.disabled {
                     .option-dot {
                            fill: gray;
                     }
              }
       }

}