.option {
       cursor: pointer;

       .button-container {
              padding: 5px;
       }

       .option-container,
       .option-container>div {
              display: flex;
              align-items: center;
       }

       .option-label {
              padding-left: 7px;
              position: relative;
              top: -1px;
       }

       .option-button {
              display: flex;
              align-items: center;
       }

       .option-dot {    
              fill: #fff;
       }
       
       &.checked .option-dot{
              fill: #ff5722;
       }
       
}