.overlay-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.glass {
        background: $overlay-glassBackground;
        z-index: 10000;
        will-change: backdrop-filter, background;
        transition: backdrop-filter, background 0.5s;
        backdrop-filter: $overlay-glassBackdropFilter;
    }

    &.close {
        backdrop-filter: blur(0);
        background: rgba(255, 255, 255, 0.2);
    }

    &.popover-overlay {
        z-index: 1000;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    max-width: $modal-maxwidth;

    .modal-box {
        box-shadow: $modal-boxshadow;
        border-radius: $modal-borderradius;
        background: $modal-background;
        margin: 0 20px;
        border: $modal-border;
        overflow: hidden;
        animation: modalOpen 0.2s ease forwards;

        .close-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #343434;
        }

    }

    &.close {
        .modal-box {
            animation: modalClose 0.2s ease-in forwards;
        }
    }

}

.popover {
    position: fixed;
    border: $popover-border;
    border-radius: $popover-borderradius;
    padding: 10px;
    box-shadow: $modal-boxshadow;
    background: $popover-background;
}



.modal-header {
    padding: $modal-headerPadding;
    border-bottom: $modal-headerBorderbottom;
    font-size: $modal-headerFontsize;
    text-shadow: 1px 0px grey;
    background: $modal-headerBackground;
    color: $modal-headerColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-content {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

@keyframes modalOpen {
    0% {
        transform: translateY(-50px);
        opacity: 0.2;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes modalClose {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.6);

    }

    100% {
        transform: translateY(-100px) scale(0.6);
        opacity: 0.2;
    }
}