.textbox {

       padding: 7px 10px;
       border: 1px solid #aab7b8;
       background: white;

       &.no-border{
              border: none;              
       }

       input.text {
              width: 100%;
              border: none;
              font-size: 1.6rem;
              outline: none;
              background: transparent;
              color: inherit;
       }
}

.search {
       display: flex;
       align-items: center;
       padding: 0px 10px;

       & .textbox {
              background: transparent;
       }
}