.textbox {

       padding: 7px 10px;
       border: $text-border;
       background: $text-background;
       color: $text-color;

       &.no-border{
              border: none;              
       }

       input.text {
              width: 100%;
              border: none;
              font-size: $text-fontsize;
              outline: none;
              background: transparent;
              color: inherit;
       }
}

.search {
       display: flex;
       align-items: center;
       padding: 0px 10px;

       & .textbox {
              background: transparent;
       }
}