.textbox {

       @include no_tap_highlight();
       padding: 7px 10px;
       border: $text-border;
       background: $text-background;
       color: $text-color;
       transition: box-shadow 0.2s ease;

       &.has-focus {
              box-shadow: $text-focusBorder;
       }

       &.no-border {
              border: none;
              box-shadow: none;
       }

       input.text {
              width: 100%;
              border: none;
              font-size: $text-fontsize;
              outline: none;
              background: transparent;
              color: inherit;
       }

       .clear-btn {
              display: flex;
              align-items: center;
              cursor: pointer;
       }
}

.search {
       display: flex;
       align-items: center;
       padding: 0px 10px;

       & .textbox {
              background: transparent;
              color: inherit;
              display: flex;
              align-items: center;
       }

       &.can-clear {
             padding-right: 0; 
       }
}