$nCols : 12;
$tabWidth: 768px; // md 
$deskWidth: 1024px; // lg
$wideWidth: 1215px; // xl

$colWidth: #{100/$nCols}#{'%'};

@mixin gen-items($lbl, $cols) {

       %#{$lbl}-0 {
              width: #{100/$nCols}#{'%'} !important;
       }

       @for $i from 1 through $cols {

              .#{$lbl}-#{$i} {
                     width: #{100/$nCols*$i}#{'%'} !important;
              }

              .fluid .#{$lbl}-#{$i} {
                     flex: $i;
              }

       }
}

.grid {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;


       &>div {
              width: 100%;
       }
}

@media screen and (min-width: $tabWidth) {
       @include gen-items('md', $nCols);
}

@media screen and (min-width: $deskWidth) {
       @include gen-items('lg', $nCols);
}

@media screen and (min-width: $wideWidth) {
       @include gen-items('xl', $nCols);
}