.page-title {
    font-size: 3.2rem;
    color: #000000;
    padding-top: 17px;
    font-weight: normal;
}

@mixin headingStyles {

    color: #000000;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    @include headingStyles;
}

a {
    color: #114ea2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}