.page-title {
    font-size: 3.2rem;
    color: $pageTitleColor;
    padding-top: 17px;
    font-weight: normal;
}

@mixin headingStyles {

    color: $headingColor;
    font-weight: normal;
    margin-top: nth($headingMargin,1);
    margin-bottom: nth($headingMargin,2);
}

h1, h2, h3, h4, h5, h6 {
    @include headingStyles;
}

a {
    color: $anchorColor;
    text-decoration: none;
}

a:hover {
    text-decoration: $anchorHoverTextDecoration;
}