.page-container {
       margin: $pageContainer-margin;
       padding: $pageContainer-padding;
}

.container {
       margin: $container-margin;
       padding: $container-margin;
}

.panel {
       padding-top: $panel-margin;
       padding-bottom: $panel-margin;
}

.flex {
       display: flex;
}

.v-flex {
       display: flex;
       flex: 1;
       flex-direction: row;
}

.h-flex {
       display: flex;
       flex: 1;
       flex-direction: column;
}