.page-container {
       margin: $pageContainer-margin;
       padding: $pageContainer-padding;
}

.container {
       margin: $container-margin;
       padding: $container-margin;

       .panel:first-child {
              padding-top: 0;
       }

       .panel:last-child {
              padding-bottom: 0;
       }
}

.center-block {
       display: flex;
       justify-content: center;
       align-items: center;
}

.panel {
       padding-top: $panel-margin;
       padding-bottom: $panel-margin;

       .panel:first-child {
              padding-top: 0;
       }

       .panel:last-child {
              padding-bottom: 0;
       }
}

.snap .panel {
       padding-top: $panel-margin*0.5;
       padding-bottom: $panel-margin*0.5;
}

.flex {
       display: flex;

       &.center {
              justify-content: center;
       }

       &.left {
              justify-content: center;
       }

       &.right {
              justify-content: right;
       }
}

.v-flex {
       display: flex;
       flex: 1;
       flex-direction: row;
}

.h-flex {
       display: flex;
       flex: 1;
       flex-direction: column;
}

@for $i from 0 through length($space-map)-1 {
       .mb-#{$i} {
              margin-bottom: (map-get($space-map, $i)) !important;
       }

       .pb-#{$i} {
              padding-bottom: (map-get($space-map, $i)) !important;
       }

       .mt-#{$i} {
              margin-top: (map-get($space-map, $i)) !important;
       }

       .pt-#{$i} {
              padding-top: (map-get($space-map, $i)) !important;
       }

       .ml-#{$i} {
              margin-left: (map-get($space-map, $i)) !important;
       }

       .pl-#{$i} {
              padding-left: (map-get($space-map, $i)) !important;
       }

       .mr-#{$i} {
              margin-right: (map-get($space-map, $i)) !important;
       }

       .pr-#{$i} {
              padding-right: (map-get($space-map, $i)) !important;
       }

}